*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

/* text */
.text{
    text-align: center;
    margin-top: 30px;
}

main{
    max-width: 60%;
    margin: 0 auto;
}

main h1{
    margin-bottom: 40px;
    color: #e53170;
    font-size: 50px;
    font-weight: 800;
}

.text p{
    font-size: 24px;
}

/* cards */
.cards{
    margin-top: 60px;
}

.single-card{
    width: calc(100% / 3 - 20px);
    background-color: black;
    color: white;
    float: left;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

.single-card::after{
    content:"";
    display: table;
    clear: both;
}

.single-card img{
    width: 30%;
    float: left;
}

.cards::after{
    content:"";
    display: table;
    clear: both;
}

.info{
    float: left;
    padding: 5%;
}

.info>h3{
    text-transform: uppercase;
}

.info>h3,
.info>div{
    margin-bottom: 10px;
}

.info a{
    display: block;
    text-decoration: none;
    color: #17ccf2;
}